html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #222;
    width: -webkit-fill-available;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

.white-section {
    background: white;
}


/* Navigation */

.navbar {
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}


/* Carousel */

#intro .carousel-item {
    height: 40rem;
    background: #222;
    color: white;
    position: relative;
}

#intro h1 {
    margin: 20px;
    font-weight: 400;
}

#intro .container {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    padding: 0 30px 50px;
    text-align: center;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}

.logo-top {
    width: 25%;
}

.logo {
    width: 25%;
}

#intro p {
    font-size: 1.1rem;
}

.member-button {
    margin-top: 4%;
}


/* FAQs */

#faqs img {
    width: 100%;
}


/* Testimonials */

#testimonials {
    width: 100%;
    background: cadetblue;
    margin-top: 5%;
    padding-bottom: 5%;
}

#testimonials h1 {
    margin: 2% 0 0;
    padding: 6% 4% 3%;
    color: #fff;
    font-size: 2.5rem;
}

.container-fluid {
    padding: 3% 10%;
}

#testimonials p {
    font-weight: 400;
    font-size: 1.5rem;
}

em {
    font-size: 1.2rem;
}

#testimonials .card-body {
    background: #eaf6fa;
    padding: 0.5rem;
    min-height: 0.5px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
}

#testimonials div.card {
    background: none;
    text-decoration: none;
    border: none;
}

.card-body p {
    font-size: 1rem;
    padding: 1rem 1.2rem;
}

.card img {
    width: 8%;
    border-radius: 100%;
    margin: 20px;
}


/* Payment */

#payment {
    text-align: center;
}

.text-align {
    text-align: left;
}

.text-align-right {
    text-align: end;
}

.container-payment {
    padding: 3% 4%;
}

.member-heading {
    font-size: 1.5rem;
    font-weight: 600;
}

#payment img {
    width: 500px;
}

.pay-button {
    padding: 15px 20px;
    font-size: 28px;
    font-weight: 500;
    background-color: black;
    margin-bottom: 20px;
}

.feature-heading {
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 4rem;
    margin-top: 30px;
    padding-bottom: 10px;
}

.feature-text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.05rem;
    padding-bottom: 10px;
}

.box-margin {
    padding: 6% 5% 1%;
}


/* Contact */

#contact {
    text-align: left;
    padding-top: 1.2%;
}

.footer-icon {
    margin: 5% 3%;
    size: 100px;
    text-decoration: none;
    color: black;
}

.footer-icon:hover {
    text-decoration: none;
    color: cadetblue;
}

.mail {
    text-decoration: none;
}

.mail:hover {
    text-decoration: under;
    color: cadetblue;
}

.contact-text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -.05rem;
    padding-bottom: 10px;
}

.num {
    font-size: 1rem;
    font-weight: 500;
}

.text1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.text2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
}

.social-text {
    font-size: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.border {
    border: 1px solid black !important;
    padding: 1rem;
}


/*Media Query Breakpoints*/

@media (max-width: 1028px) {
    .feature-heading {
        line-height: 1;
        letter-spacing: -.05rem;
        font-size: 2rem;
        margin-top: 30px;
        padding-bottom: 10px;
    }
    .feature-text {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -.05rem;
        padding-bottom: 10px;
    }
    .text-align {
        text-align: center;
    }
    #payment img {
        width: 600px;
    }
    .box-margin {
        margin: 7% 0;
    }
    #testimonials .card-body {
        margin: 1.2rem auto;
    }
    #contact {
        margin: 25px auto;
    }
    .logo-top {
        width: 60%;
    }
    #testimonials p {
        font-weight: 400;
        font-size: 0.9rem;
        padding: auto 0;
    }
    .card img {
        width: 20%;
        border-radius: 100%;
        margin: 0 10px 10px 0;
    }
    em {
        font-size: 1rem;
    }
    .box-margin {
        padding: 5% 1% 1%;
    }
}