/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    text-align: center;
    margin: 50px 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


/* Navigation */


/* 
#navigation .container {
    margin: 0;
} */

.navbar {
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}


/* Carousel */

#intro .carousel-item {
    height: 35rem;
    background: #222;
    color: white;
    position: relative;
}

#intro .container {
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    padding: 0 50px 50px;
    text-align: center;
    /* padding-right: 50px; */
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}


/* .carousel-inner img {
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */


/* .member-button {
    padding: 10px 15px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
} */


/* FAQs */

.card,
.card-header {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgb(110, 130, 208, .18);
}

.btn-link {
    width: 100%;
    height: 60px;
    color: #000 !important;
    font-weight: 600 !important;
    text-align: left !important;
    text-decoration: none !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.card-body {
    background: #e8eeff;
}

.btn-link:after {
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background: #e8eeff;
}

.btn-link.collapsed:after {
    content: '\002B';
}

.btn-link:before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: white;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;
}

.faqs-text {
    font-size: 1.2rem;
    margin-left: 5%;
    margin-bottom: 30%;
}

.box {
    position: relative;
    top: 25%;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}


/* Testimonials */

#testimonials {
    width: 100%;
    background: cadetblue;
    margin-top: 5%;
    padding-bottom: 5%;
}

#testimonials h1 {
    margin: 2% 0 0;
    padding: 6% 0 2%;
    color: #fff;
    font-size: 2.5rem;
}

.container-fluid {
    padding: 3% 10%;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.img-text {
    width: 100%;
    height: 350px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    padding: 10%;
    background: #eaf6fa;
    color: #000;
    border-radius: 15px;
    font-size: 1rem;
}

.img-text h2 {
    font-size: 1.8%;
    padding-right: 10px;
    padding-left: 10px;
}

em {
    font-size: 1.25rem;
}

#testimonials .card-body {
    background: #eaf6fa;
    padding: 0.5rem;
    min-height: 0.5px;
    border-radius: 15px;
    margin: auto;
    text-align: left;
}

.card-body p {
    font-size: 1rem;
    padding: 0 0.8rem;
}

.card img {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}


/* Payment */

#payment {
    text-align: center;
}

.text-align {
    text-align: left;
}

.container-payment {
    margin: 3% 4%;
}


/* #payment .container-fluid {
    margin-top: 0 15% 5%;
    padding: 10%;
} */

.member-heading {
    font-size: 1.5rem;
    font-weight: 600;
}

#payment img {
    width: 400px;
}

.pay-button {
    padding: 15px 20px;
    font-size: 28px;
    font-weight: 500;
    background-color: black;
    margin-bottom: 10px;
}

.feature-heading {
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 4rem;
    margin-top: 30px;
    padding-bottom: 10px;
}

.feature-text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.05rem;
    padding-bottom: 10px;
}

.box-margin {
    margin: 7% 0;
}


/* .colourful-box {
    background-color: cadetblue;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
} */


/* #payment p {
    font-size: 1.3rem;
} */


/* Contact */

#contact {
    background: cadetblue;
    text-align: center;
    padding-top: 20px;
}

.footer-icon {
    margin: 5% 4%;
    size: 100px;
}

.contact-text {
    font-weight: 400;
    font-size: 1.3rem;
}


/*Media Query Breakpoints*/

@media (max-width: 1028px) {
    /* .member-button {
        padding: 10px 15px;
        font-size: 25px;
        font-weight: 500;
        margin-top: 10px;
    } */
    .feature-heading {
        line-height: 1;
        letter-spacing: -.05rem;
        font-size: 2rem;
        margin-top: 30px;
        padding-bottom: 10px;
    }
    .feature-text {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -.05rem;
        padding-bottom: 10px;
    }
    .text-align {
        text-align: center;
    }
    #payment img {
        width: 600px;
    }
}