/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    text-align: center;
    margin: 50px 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


/* Navigation */

.navbar {
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}


/* Carousel */

.carousel-inner img {
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* text-align: center; */
}


/* .title-text {
    margin: auto;
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5;
} */

.member-button {
    padding: 15px 20px;
    font-size: 28px;
    font-weight: 500;
}


/* FAQs */

.card,
.card-header {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgb(110, 130, 208, .18);
}

.btn-link {
    width: 100%;
    height: 60px;
    color: #000 !important;
    font-weight: 600 !important;
    text-align: left !important;
    text-decoration: none !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.card-body {
    background: #e8eeff;
}

.btn-link:after {
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background: #e8eeff;
}

.btn-link.collapsed:after {
    content: '\002B';
}

.btn-link:before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: white;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;
}

p {
    font-size: 1.2rem;
    margin-left: 5%;
}

.box {
    position: relative;
    top: 25%;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}


/* Testimonials */

#testimonials {
    width: 100%;
    background: cadetblue;
    margin: auto;
}

#testimonials h1 {
    margin: 20px 0 0;
    padding: 50px 0 30px;
    color: #fff;
    font-size: 4rem;
}

.container-fluid {
    padding: 3% 15%;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.img-text {
    width: 100%;
    height: 350px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    padding: 10%;
    background: #eaf6fa;
    color: #000;
    border-radius: 15px;
    font-size: 1rem;
}

.img-text h2 {
    font-size: 30px;
}

.card-body {
    background: #eaf6fa;
    padding: 0.8rem;
    min-height: 0.5px;
    border-radius: 15px;
    margin: auto;
    text-align: left;
}

.card-body p {
    font-size: 1.1rem;
}

.card img {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}